<div id="gallery" class="page-layout simple tabbed" layout="column">
    <!--<form name="formgallery" autocomplete="off" novalidate>-->
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <div layout="row" layout-align="start center">
                <div class="gallery-image" hide-xs>
                    <img ng-src="assets/images/ecommerce/product-image-placeholder.png">
                </div>

                <div layout="column" layout-align="start start">
                    <div class="h2 capitalize" translate="GALLERY.PAGE_TITLE">
                        Goby Art Event Gallery
                    </div>
                    <div class="subtitle secondary-text">
                        <span  translate="GALLERY.PAGE_TITLE_DETAIL">Gallery Event</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<md-toolbar class="tab-toolbar" md-scroll-shrink="">
        <md-tabs md-selected="vm.currentTab">
            <md-tab>
                <md-tab-label>
                   <span translate="GALLERY.GALLERY_IMAGES">Images</span>
                </md-tab-label>
            </md-tab>
            
        </md-tabs>
    </md-toolbar>-->
    <!-- / HEADER -->
     <div class="toolbar animate-slide-down" layout="row" layout-align="space-between center" ng-if=" vm.currentTab === 0">
         <span flex="" ></span>
        <div layout="row" layout-align="end end" >
            <md-button class="md-icon-button arrow" aria-label="Remove Image" ng-if="vm.selectedImage && vm.currentTab === 0 && vm.selectedImage.file_type === 'image'" ng-click="vm.deleteImage($event)" >
            <md-icon md-font-icon="icon-delete"></md-icon>
                <md-tooltip><span translate="GALLERY.REMOVE_IMAGE">Remove File</span></md-tooltip>
            </md-button>
            <md-button class="md-icon-button arrow" aria-label="Previous"  ng-disabled="vm.page <= 1" ng-click="vm.prev($event)">
                <md-icon md-font-icon="icon-chevron-left"></md-icon>
                <md-tooltip><span>Previous</span></md-tooltip>
            </md-button>

            <md-button class="md-icon-button arrow" aria-label="Next" ng-click="vm.next($event)" ng-disabled=" vm.page >= vm.total / vm.pageSize" >
                <md-icon md-font-icon="icon-chevron-right"></md-icon>
                <md-tooltip><span >Next</span></md-tooltip>
            </md-button>
        </div>
    </div>
 
     
    <!-- CONTENT -->
    <div class="content scrollable" ms-scroll>
            <!-- MAIN -->
            <md-tabs md-dynamic-height class="no-tab-panel"  md-selected="vm.currentTab">
                <md-tab>
                    <md-tab-body>
                        <div class="gallery-detail-form-container md-background-bg md-whiteframe-1dp">
                                <div class="image-tab"
                                    ng-include="'app/main/contents/gallery/tabs/images-tab.html'">
                                </div>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
    </div>
    <!-- / CONTENT -->
    
</div>