#setting-general {
     > .content {
        position: absolute;
        top: 120px;
        bottom: 0;
        right: 0;
        left: 0;
        // &.image-selected{
        //     top: 220px;
        // }
        .main {
            padding: 16px 16px 0 16px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    font-size: 1.35em;
    .header {
        height: 120px;
        min-height: 120px;
        max-height: 120px;

        .goto-newss-button {
            margin-right: 16px;
        }

        .setting-general-image {
            overflow: hidden;
            width: 60px;
            height: 80px;
            margin-right: 16px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: 100%;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }
    ._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore) {
        right : 33px;
    }
    ._md-datepicker-floating-label._md-datepicker-has-calendar-icon .md-input-message-animation {
        margin-left : 20px;
    }
    .toolbar {
            -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
            box-shadow: 0 2px 4px rgba(0,0,0,.2);
            -webkit-transition: height .35s cubic-bezier(0.4,0.0,1,1),border-color .4s;
            transition: height .35s cubic-bezier(0.4,0.0,1,1),border-color .4s;
            background-color: #fafafa;
            border-bottom: 1px solid transparent;
            border-top: 1px solid #e5e5e5;
            height: 53px;
            position: relative;
            z-index: 5;
            padding: 8px 16px;
    }
    .setting-general-detail-form-container {
        padding: 24px;

        #setting-general-image-uploader {
            position: relative;

            &.dropping {

                .drop-text {
                    display: flex;
                }
            }

            .drop-text {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 16px;
                text-align: center;
                border: 2px dashed rgba(0, 0, 0, 0.12);
                background: #FFFFFF;
                font-size: 20px;
                z-index: 100;
            }

            .upload-button {
                margin-bottom: 16px;
            }

            .setting-general-image {
                position: relative;
                width: 200px;
                height: 200px;
                border: 1px solid rgba(0, 0, 0, 0.12);
                margin: 8px;

                &.uploading {

                    .overlay {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 0.6);
                    }
                }

                .media {
                    max-height: 100%;
                }
            }
        }
    }

}
