<div id="teams" class="page-layout simple fullwidth">
 <!-- CONTENT HEADER -->
        <div class="header md-accent-bg " layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <span translate="TEAMS.TEAM_MEMBER">Team Member</span>
                </div>
                <div class="secondary-text">
                    <span translate="TEAMS.TOTAL_MEMBER">Total Member:</span>
                    <span>{{vm.total}}</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input class="search-input" type="text" ng-model="vm.keywords" ng-model-options="{debounce:400}" placeholder="Search Team Member" ng-change="vm.searchData()"
                       translate translate-attr-placeholder="TEAMS.SEARCH" flex>
            </div>
        </div>
        <!-- / CONTENT HEADER -->


    <!-- SELECTED BAR -->
    <div ng-show="vm.selectedTeams.length > 0" class="selected-bar header animate-slide-down md-accent-bg"
         layout="row" layout-align="start center">

        <div class="close-button-wrapper" ng-click="vm.selectedTeams =[]">
            <md-button layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-arrow-left" class="mr-8"></md-icon>
                <span translate="TEAMS.BACK">Back</span>
            </md-button>
        </div>

        <div flex layout="row" layout-align="space-between center">

            <div>
                <span class="selected-contacts-count">
                    <span>{{vm.selectedTeams.length}}</span>
                    <span translate="TEAMS.SELECTED">selected</span>
                </span>

                <md-menu class="select-menu" ng-if="!vm.currentThread">
                    <md-button class="md-icon-button"
                               ng-click="$mdOpenMenu($event)"
                               aria-label="multi select toggle"
                               translate translate-attr-aria-label="TEAMS.MULTI_SELECT_TOGGLE">
                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="vm.selectAll()" translate="TEAMS.SELECT_ALL">
                                Select all
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.deslectAll()" translate="TEAMS.SELECT_NONE">
                                Select none
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <div class="multi-select-actions">
                <md-button class="md-icon-button" ng-click="vm.deleteSelectedContacts($event)"
                           aria-label="delete selected" translate translate-attr-label="CONTACTS.DELETE_SELECTED">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                </md-button>
            </div>

        </div>

    </div>
    <!-- / SELECTED BAR -->
    <div class="toolbar" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
               <md-menu>
                <md-button class="md-icon-button" aria-label="Sort" translate
                            translate-attr-aria-label="TEAM.SORT">
                    <md-icon md-font-icon="icon-sort-alphabetical"
                                ng-click="$mdOpenMenu($event)"></md-icon>
                </md-button>

                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-click="vm.listOrder = 'team_name';vm.listOrderAsc = false"
                                    ng-style="vm.listOrder === 'team_name' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                            <span translate="TEAMS.NAME">Member Name</span>
                            <small translate="TEAMS.A_TO_Z">(A to Z)</small>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.listOrder = 'team_name'; vm.listOrderAsc = true"
                                    ng-style="vm.listOrder === 'team_name' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                            <span translate="TEAMS.NAME">Member Name</span>
                            <small translate="TEAMS.Z_TO_A">(Z to A)</small>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.listOrder = 'position';vm.listOrderAsc = false"
                                    ng-style="vm.listOrder === 'position' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                            <span translate="TEAMS.POSITION">Position</span>
                            <small translate="TEAMS.A_TO_Z">(A to Z)</small>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="vm.listOrder = 'position'; vm.listOrderAsc = true"
                                    ng-style="vm.listOrder === 'position' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                            <span translate="TEAMS.POSITION">Position</span>
                            <small translate="TEAMS.Z_TO_A">(Z to A)</small>
                        </md-button>
                    </md-menu-item>

                </md-menu-content>

            </md-menu>
        </div>
        <div layout="row" layout-align="end center" >
     
            <md-button class="md-icon-button arrow" aria-label="Previous"  ng-disabled="vm.page <= 1" ng-click="vm.prev($event)">
                <md-icon md-font-icon="icon-chevron-left"></md-icon>
                <md-tooltip><span>Previous</span></md-tooltip>
            </md-button>

            <md-button class="md-icon-button arrow" aria-label="Next" ng-click="vm.next($event)" ng-disabled=" vm.page >= vm.total / vm.pageSize" >
                <md-icon md-font-icon="icon-chevron-right"></md-icon>
                <md-tooltip><span >Next</span></md-tooltip>
            </md-button>
        </div>
    </div>
    
    <!-- CONTENT -->
    <div class="content" md-background-bg layout="column" flex>

        <!-- MAIN -->
        <div class="main scrollable" ms-scroll>
              <md-content class="md-padding" layout="row" layout-wrap>
                    <div flex="20" flex-xs="100" flex-sm="33"  flex-md="33" flex-lg="20" flex-gt-lg="20" ng-repeat="team in vm.teams | filter: vm.search | filter: global.search | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredContacts track by team.team_id " ng-click="vm.openDialog($event, team)">
                        <md-card  style="cursor:pointer">
                            <img   alt="{{team.team_name}}"
                                    ng-src="{{ (!team.avatar || team.avatar.file_id === '') ? 'assets/images/avatars/profile.jpg' : ((team.avatar.changed) ? 'api/v1/temp/' : 'api/v1/upload/') + team.avatar.file_id + '.' + team.avatar.extension }}"/>
                            <md-card-actions layout="row" layout-align="start center">
                                <md-button ng-disabled="true">{{ team.team_name }} - {{ team.position }}</md-button>
                                <span flex></span>
                                <md-button class="md-icon-button" aria-label="Edit Team" ng-click="vm.openDialog($event, team)">
                                    <md-icon md-font-icon="icon-account-switch"></md-icon>
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            <!--<div flex-xs="" flex-gt-xs="30" layout="row" 
                              ng-click="vm.openDialog($event, team)">
               
            </div>-->
       

            <!-- NO RESULTS -->
            <md-list-item class="no-results md-white-bg" ng-show="filteredContacts.length === 0">
                <p translate="CONTACTS.NO_RESULTS">No results..</p>
            </md-list-item>
            <!-- / NO RESULTS -->

        </div>
        <!-- / MAIN -->

    </div>

     
    <!-- / CONTENT -->

    <!-- ADD CONTACT BUTTON -->
    <md-button class="md-fab md-accent md-icon-button" id="add-contact-button" ng-click="vm.openNew($event)"
               aria-label="add contact" translate translate-attr-aria-label="TEAM.ADD_TEAM_MEMBER">
        <md-icon md-font-icon="icon-account-plus"></md-icon>
    </md-button>
    <!-- / ADD CONTACT BUTTON -->

</div>
