<!-- DIALOG -->
<md-dialog class="artists-image-dialog" aria-label="New Task">

    <form name="artistForm" class="md-inline-form" novalidate autocomplete="off">

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent " layout="column">
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title"> Image Upload </span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="TEAMS.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->


        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content class="p-0">
                   <div class="uploader-container" ng-if="vm.image.type !== 'image'" ng-show="!vm.image">
                        <div id="avatar-image-uploader" class="uploader-wrapper"
                             flow-init="vm.ngFlowOptions"
                             flow-name="vm.ngFlow.flow"
                             flow-files-submitted="vm.upload()"
                             flow-file-added="vm.fileAdded($file)"
                             flow-file-success="vm.fileSuccess($file, $message)"
                             flow-file-error="vm.uploadError($file, $message)"
                             flow-error="vm.uploadError( $file, $message)"
                             flow-drop
                             flow-drag-enter="vm.dropping=true"
                             flow-drag-leave="vm.dropping=false"
                             ng-class="{'dropping':vm.dropping}">
                                <div class="uploader-drop-text hint-text" layout="row" layout-align="center center">
                                    <span translate="TEAMS.DROP_TO_UPLOAD">Drop to upload</span>
                                </div>
                                <div class="upload-content">
                                    <div class="upload-button" layout="column" layout-align="center center">
                                        <md-button class="md-accent md-icon-button md-raised" flow-btn  aria-label="Upload Image" translate-attr-aria-label="TEAMS.UPLOAD_BTN">
                                             <md-icon md-font-icon="icon-cloud-upload"></md-icon>
                                        </md-button>
                                        <span class="secondary-text mt-8" translate="TEAMS.UPLOAD_DESC">Drag an image to here</span>
                                    </div>
                                </div>
                                <img class="media" flow-img="vm.image.file">
                        </div>
                    </div>
                     <div layout="row" class="uploader-container" layout-align="start start" ng-switch="vm.image.type" ng-if="vm.image" layout-wrap >
                        <div class="uploading-wrapper" ng-switch-when="uploading"  layout="row"
                                    layout-align="center center">
                                <span class="upload-process">Uploading...</span>
                                <div class="overlay upload-content" layout="column" layout-align="center center">
                                    <md-progress-linear md-mode="determinate" class="md-hue"
                                                        value="{{vm.image.file.progress() * 100}}">
                                    </md-progress-linear>
                                </div>
                               
                            </div>

                            <div class="image-cropper-wrapper" ng-switch-when="image" layout="row"
                                    layout-align="center center">
                                <img id="img-cropper" class="media" ng-src="{{vm.image.url}}"  
                                ng-cropper
                                ng-cropper-options="vm.cropper.options"
                                ng-cropper-show="vm.cropper.show"
                                ng-cropper-hide="vm.cropper.hide">
                            </div>
                    </div>
        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
        
                <md-button type="submit" ng-click="vm.setImage($event)"
                           class="send-button md-accent md-raised"
                           ng-disabled="vm.image.type !== 'image'"
                           aria-label="Add Team" translate="TEAMS.SET_AVATAR"
                           translate-attr-aria-label="TEAMS.SET_AVATAR">
                    Set Avatar
                </md-button>

            </div>

            <div layout="row">
                <md-button type="submit" ng-click="vm.add($event)"
                           class="send-button md-accent md-raised"
                           aria-label="Add Team" translate="TEAMS.CANCEL"
                           translate-attr-aria-label="TEAMS.CANCEL">
                    Cancel
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG -->