<form name="formBasic" autocomplete="off" novalidate>
         <md-input-container class="md-icon-float md-block">
            <label translate="TEAMS.NAME">Name </label>
            <md-icon md-font-icon="icon-account"></md-icon>
            <input ng-model="vm.team.team_name" type="text" class="capitalize" required md-autofocus>
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <label translate="TEAMS.POSITION">Position</label>
            <md-icon md-font-icon="icon-account-multiple" ></md-icon>
            <input ng-model="vm.team.position" type="text" class="capitalize" required>
        </md-input-container>
</form>

