<div id="artist" class="page-layout simple tabbed" layout="column">
    <!--<form name="formArtist" autocomplete="off" novalidate>-->
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-artists-button md-icon-button" aria-label="Go to list artists"
                       ng-click="vm.goBack()"
                       translate translate-attr-aria-label="EC.GO_TO_artistS">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div class="artist-image" hide-xs>
                    
                    <img ng-src="{{ (!vm.artist.avatar || vm.artist.avatar.file_id === '') ? 'assets/images/avatars/profile.jpg' : ((vm.isNew) ? 'api/v1/temp/' : 'api/v1/upload/') + vm.artist.avatar.file_id + '.' + vm.artist.avatar.extension }}">
                </div>

                <div layout="column" layout-align="start start">
                    <div class="h2 capitalize">
                        {{vm.artist.full_name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span translate="ARTISTS.ARTIST_DETAIL">Artist Detail</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.update($event)" ng-if="!vm.isNew">
                <span translate="ARTISTS.SAVE">SAVE</span>
            </md-button>
               <md-button class="md-raised md-background" ng-click="vm.insert($event)" ng-if="vm.isNew">
                <span translate="ARTISTS.SAVE">SAVE</span>
            </md-button>
        </div>
    </div>
    <md-toolbar class="tab-toolbar" md-scroll-shrink="">
        <md-tabs md-selected="vm.currentTab">
            <md-tab>
                <md-tab-label>
                     <span translate="ARTISTS.BASIC_INFO">Basic Info</span>
                </md-tab-label>
            </md-tab>
            <md-tab>
                <md-tab-label>
                   <span translate="ARTISTS.ARTIST_IMAGE">Images</span>
                </md-tab-label>
            </md-tab>
             <md-tab>
                <md-tab-label>
                   <span translate="ARTISTS.ARTIST_VIDEO">Video</span>
                </md-tab-label>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <span translate="ARTISTS.SEO">SEO</span>
                </md-tab-label>
            </md-tab>
            <md-tab>
                <md-tab-label>
                  <span translate="ARTISTS.EXTRA_INFORMATION">Thông tin Thêm</span>
                </md-tab-label>
            </md-tab>
        </md-tabs>
    </md-toolbar>
    <!-- / HEADER -->
     <div class="toolbar animate-slide-down" layout="row" layout-align="space-between center" ng-if=" vm.currentTab === 1 ||  vm.currentTab === 2">
         <span flex="" ></span>
        <div layout="row" layout-align="end end" >
            <md-button class="md-icon-button arrow" aria-label="Remove Image" ng-if="vm.selectedImage && vm.currentTab === 1 && vm.selectedImage.file_type === 'image'" ng-click="vm.deleteImage($event)" >
            <md-icon md-font-icon="icon-delete"></md-icon>
                <md-tooltip><span translate="ARTISTS.REMOVE_IMAGE">Remove File</span></md-tooltip>
            </md-button>
            <md-button class="md-icon-button arrow" aria-label="Remove Image" ng-if="vm.selectedImage && vm.currentTab === 2 && vm.selectedImage.file_type === 'video_link'" ng-click="vm.deleteImage($event)" >
            <md-icon md-font-icon="icon-delete"></md-icon>
                <md-tooltip><span translate="ARTISTS.REMOVE_IMAGE">Remove File</span></md-tooltip>
            </md-button>
             <md-button class="md-icon-button arrow" aria-label="Set As Avatar"  ng-if="vm.selectedImage && vm.currentTab === 1 && vm.selectedImage.file_type === 'image'" ng-click="vm.setAsNewAvatar($event)" >
                <md-icon md-font-icon="icon-file-image-box"></md-icon>
                <md-tooltip><span translate="ARTISTS.SET_AS_AVATAR">Set As Avatar</span></md-tooltip>
            </md-button>
        </div>
    </div>
 
     
    <!-- CONTENT -->
    <div class="content scrollable" ng-class="{ 'image-selected' : vm.currentTab === 1 ||  vm.currentTab === 2 }" ms-scroll>
        <!-- MAIN -->
            <md-tabs md-dynamic-height class="no-tab-panel"  md-selected="vm.currentTab">
                <md-tab>
                    <md-tab-body>
                        <div class="artist-detail-form-container md-background-bg md-whiteframe-1dp">
                                <div class="info-tab"
                                    ng-include="'app/main/contents/artists/artist/tabs/general-tab.html'">
                                </div>
                        </div>
                    </md-tab-body>
                </md-tab>

                <md-tab>

                    <md-tab-body>
                        
                        <div class="artist-detail-form-container md-background-bg md-whiteframe-1dp">
                                <div class="image-tab"
                                    ng-include="'app/main/contents/artists/artist/tabs/images-tab.html'">
                                </div>
                        </div>
                    </md-tab-body>
                </md-tab>

                 <md-tab>
                    <md-tab-body>
                        <div class="artist-detail-form-container md-background-bg md-whiteframe-1dp">
                            <div class="video-tab"
                                    ng-include="'app/main/contents/artists/artist/tabs/video-tab.html'">
                                </div>
                        </div>
                    </md-tab-body>
                </md-tab>

                <md-tab>
                    <md-tab-body>
                        <div class="artist-detail-form-container md-background-bg md-whiteframe-1dp">
                            <div class="seo-tab"
                                    ng-include="'app/main/contents/artists/artist/tabs/seo-tab.html'">
                                </div>
                        </div>
                    </md-tab-body>
                </md-tab>

               

                <md-tab>

                    <md-tab-body>
                        <div class="artist-detail-form-container md-background-bg md-whiteframe-1dp">
                            <div class="seo-tab"
                                    ng-include="'app/main/contents/artists/artist/tabs/extra-tab.html'">
                                </div>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
    </div>
    <!-- / CONTENT -->
    
</div>