<div id="artists" class="page-layout simple fullwidth">
    <!-- CONTENT HEADER -->
    <div class="header md-accent-bg " layout="row" layout-align="space-between center">
        <div class="white-fg" layout="column" layout-align="start start">
            <div class="h1" layout="row" layout-align="start center">
                <span translate="ARTISTS.ARTIST_TITLE">Artist</span>
            </div>
            <div class="secondary-text">
                <span translate="TEAMS.TOTAL_MEMBER">Total Member:</span>
                <span>{{vm.total}}</span>
            </div>
        </div>

        <div class="search" layout="row" layout-align="start center" flex>
            <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
            <input class="search-input" type="text" ng-model="vm.keywords" ng-model-options="{debounce:400}" placeholder="Search Team Member" ng-change="vm.searchData()"
                    translate translate-attr-placeholder="TEAMS.SEARCH" flex>
        </div>
    </div>
    <!-- / CONTENT HEADER -->



  
    <div class="toolbar" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
        
        </div>
        <div layout="row" layout-align="end center" >
            
            <md-button class="md-icon-button "  ng-click="vm.openNew($event)"
               aria-label="add contact" translate translate-attr-aria-label="TEAM.ADD_NEW_ARTIST">
                 <md-icon md-font-icon="icon-account-plus"></md-icon>
            </md-button>

            <md-button class="md-icon-button arrow" aria-label="Previous"  ng-disabled="vm.page <= 1" ng-click="vm.prev($event)">
                <md-icon md-font-icon="icon-chevron-left"></md-icon>
                <md-tooltip><span>Previous</span></md-tooltip>
            </md-button>

            <md-button class="md-icon-button arrow" aria-label="Next" ng-click="vm.next($event)" ng-disabled=" vm.page >= vm.total / vm.pageSize" >
                <md-icon md-font-icon="icon-chevron-right"></md-icon>
                <md-tooltip><span >Next</span></md-tooltip>
            </md-button>
        </div>
    </div>
    
    <!-- CONTENT -->
    <div class="content" md-background-bg layout="column" flex>

        <!-- MAIN -->
        <div class="main scrollable" ms-scroll>
              <md-content class="md-padding" layout="row" layout-wrap>
                    <div flex="20" flex-xs="100" flex-sm="50"  flex-md="33" flex-lg="25"  ng-repeat="artist in vm.artists | filter: vm.search | filter: global.search | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredContacts track by artist.artist_id " ng-click="vm.openDetail($event, artist)">
                        <md-card  style="cursor:pointer">
                            <img  class="img-artist"  alt="{{team.team_name}}"
                                    ng-src="{{ (!artist.avatar || artist.avatar.file_id === '') ? 'assets/images/avatars/profile.jpg' : ((artist.avatar.changed) ? 'api/v1/temp/' : 'api/v1/upload/') + artist.avatar.file_id + '.' + artist.avatar.extension }}"/>
                            <md-card-actions layout="row" layout-align="start center">
                                <md-button ng-disabled="true">{{ artist.full_name }} - {{ artist.music_category.artist_type.artist_type_name }}</md-button>
                                <span flex></span>
                                <md-button class="md-icon-button" aria-label="Edit Artist">
                                    <md-icon md-font-icon="icon-account-switch"></md-icon>
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            <!--<div flex-xs="" flex-gt-xs="30" layout="row" 
                              ng-click="vm.openDialog($event, team)">
               
            </div>-->
       

            <!-- NO RESULTS -->
            <md-list-item class="no-results md-white-bg" ng-show="filteredContacts.length === 0">
                <p translate="CONTACTS.NO_RESULTS">No results..</p>
            </md-list-item>
            <!-- / NO RESULTS -->

        </div>
        <!-- / MAIN -->

    </div>

     
    <!-- / CONTENT -->


</div>
